<div class="about">
    <p>Determinate</p>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <p>Indeterminate</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Buffer</p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
        <p>Query</p>
        <mat-progress-bar mode="query"></mat-progress-bar>
        <mat-list>
            <mat-list-item>Course 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Course 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Course 3</mat-list-item>
          </mat-list>
</div>
