mat-sidenav-container{
    height: calc(205vh - 115vh);
}
mat-sidenav{
    width: 150px;
    background-color: eeee;
    padding-top: 15%;
    padding-left: 2%;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
