<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side">
    <button mat-raised-button class="register" color="primary" (click)="onClick()">Register</button>
   </mat-sidenav>

   <div *ngIf="isClicked">
      <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">

            <ng-template matStepLabel>Fill out your details</ng-template>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="enter the fullName" formControlName="fullName" >
                <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>&nbsp; &nbsp;

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>email</mat-label>
                <input matInput placeholder="enter email" formControlName="emailId">
                <mat-icon matSuffix>email</mat-icon>
                </mat-form-field> &nbsp; &nbsp;

              <mat-form-field>
                <mat-label>Telephone</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneNumber">
                <mat-icon matSuffix>mode_edit</mat-icon></mat-form-field>
                <!-- <span style="color:'red'" *ngIf="details.controls.phoneNumber.hasError('required') && details.controls.phoneNumber.touched">  -->
                  <!-- Phone Number is a required field -->
                <!-- </span> -->
                <br>
              <mat-form-field appearance="fill">
                <mat-label>Father's Name</mat-label>
                <mat-icon matSuffix>person</mat-icon>
                <input matInput placeholder="enter fullname" formControlName="fathersName" required>
              </mat-form-field>&nbsp; &nbsp;

              <mat-form-field appearance="fill">
                <mat-label>Mother's Name</mat-label>
                <mat-icon matSuffix>person</mat-icon>
                <input matInput placeholder="enter fullname" formControlName="mothersName" required>
              </mat-form-field>
                <br>
                <mat-form-field appearance="fill" >
                  <mat-label>Date of Birth</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> &nbsp;

                <mat-form-field appearance="fill" >
                  <mat-label>Select skill</mat-label>
                  <mat-select formControlName="skill">
                    <mat-option value="Angular Basic">Angular Basic</mat-option>
                    <mat-option value="Angular Intermediate">Angular Intermediate</mat-option>
                    <mat-option value="Angular Advanced">Angular Advanced</mat-option>
                  </mat-select>
                </mat-form-field>
                  <br>
                  <br>
                  <mat-label>Gender 
                  </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="gender"> &nbsp; &nbsp;
                   
                  <mat-radio-button value="Male" required> <mat-icon style="float:left">male</mat-icon>Male</mat-radio-button>&nbsp; &nbsp; 
                  <mat-radio-button value="Female"> <mat-icon style="float:left">female</mat-icon> Female</mat-radio-button> &nbsp; &nbsp;
                  <mat-radio-button value="Other"> Other</mat-radio-button>
                </mat-radio-group>
            <div>
                <br>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [optional]="true" label="Fill out your Bank details">
          <form [formGroup]="secondFormGroup">
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="fullName" 
                     required>
            </mat-form-field> &nbsp; &nbsp; 
            <mat-form-field appearance="fill">
                <mat-label>Bank Account Number</mat-label>
                <input matInput formControlName="accNo" placeholder="Enter Account Number"
                       required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Bank Name</mat-label>
                <input matInput formControlName="bankName"
                       required>
              </mat-form-field> &nbsp; &nbsp; 
              <mat-form-field appearance="fill">
                <mat-label>IFSC Code</mat-label>
                <input matInput formControlName="IFSCcode" placeholder="Enter IFSC CODE"
                       required>
              </mat-form-field>
              <br>
              <mat-label>You have internet banking ?
            </mat-label>
            <mat-radio-group  formControlName="netBanking">
            <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp; &nbsp; 
            <mat-radio-button value="no">No</mat-radio-button> &nbsp; &nbsp;
          </mat-radio-group>
          <br>
          <mat-label> You have mobile banking?
        </mat-label>
        <mat-radio-group  formControlName="mobBanking"> &nbsp; &nbsp;
        <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp; &nbsp; 
        <mat-radio-button value="no">No</mat-radio-button> &nbsp; &nbsp;
      </mat-radio-group>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Fill out your address">
            <form [formGroup]="thirdFormGroup">
              <mat-form-field appearance="fill">
                <mat-label>Present Address</mat-label>
                <input matInput formControlName="presentAddress"
                       required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Permanent Address</mat-label>
                <input matInput formControlName="permanentAddress"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="onSubmitData()">Submit</button>
              </div>
            </form>
        </mat-step>
      </mat-stepper>
   </div>
</mat-sidenav-container>