.login-box{
  width:fit-content;
    text-align: center;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
  padding: 40px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #ccc;
    font-family:'Times New Roman', Times, serif;
    font-style: 'Times New Roman';
}