<div class="main">
   <div>
      <form>
            <mat-form-field>
              <mat-label>min</mat-label>
              <input matInput name="min" [(ngModel)]="min">
            </mat-form-field>          
         <br>
         <mat-form-field>
            <mat-label>max</mat-label>
            <input matInput name="max" [(ngModel)]="max">
          </mat-form-field>  
         <br>
         <mat-form-field>
            <mat-label>step</mat-label>
            <input matInput name="step" [(ngModel)]="step">
          </mat-form-field>  
      </form>
   </div>
<mat-slider [min]="min" [max]="max" [step]="step" showTickMarks discrete>
   <input matSliderThumb name="value" [(ngModel)]="value">
 </mat-slider>
 <p>The value is = {{value}}</p>
</div>