<h1 mat-dialog-title>CEO Message</h1>
<div mat-dialog-content>As you navigate our website, I hope you learn more about the qualities that make our company an outstanding provider of essential government services and a wonderful place to build a career.

    We provide service with a human touch.
    
    We have earned the trust and respect of government customers for one simple reason—we have great people. They are experts in their fields. They bring a strong service ethos to everything they do. They take pride and ownership in the jobs they do. We bring passion, pride and experience together.
    
    We make a positive difference in people's lives.
    
    At Serco, we have earned a reputation for helping our government clients to transform the way in which citizens access government services. The programs we support are critical to keeping the nation secure, as well as making government services more efficient. From modernizing the Navy and supporting returning warriors to ensuring healthcare access and keeping the skies safe, Serco has earned a reputation for delivering on programs that truly make a difference.
    
    We have a client first philosophy.
    
    We have only one objective: to ensure our clients mission objectives are achieved with the highest level of capability and assurance, and at the lowest possible cost. Our methodology ensures that vital government programs are stood up on time and on schedule. Serco’s clients come to us with confidence that we have the expertise to take service delivery to the next level of performance.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>